rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /conferences/{conferenceId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /attendances/{attendanceId} {
      allow read, write: if isSignedIn();
    }

    match /pings/{pingId} {
      allow read, write: if isSignedIn();
    }
  }
}

