VITE_MAPBOX_ACCESS_TOKEN=
VITE_USE_FIREBASE_EMULATORS=true
VITE_FIREBASE_PROJECT_ID=demo-confgo
VITE_FIREBASE_API_KEY=demo
VITE_FIREBASE_AUTH_DOMAIN=demo-confgo.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=demo-confgo.appspot.com
VITE_FIREBASE_APP_ID=demo
